nav {
    background-color: grey;
    height: 60px;
}

li {
    display: inline-block;
    margin-top: 10px;
}

nav > img {
    display: inline-block;
    border-radius: 50%;
    border-color: 1px solid black;
    height: 45px;
    width: 45px;
    margin-top: 8px;
    margin-left: 10px;
}

nav > ul {
    display: inline-block;
}

li::after {
    content: "|";
    margin-left: 5px;
}